/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    --bg-colour: #130208;
    --card-colour: #5454c5;
    --font-color: #FFF3E6;
    --title-fontsize: 48px;
    --big-fontsize: 24px;
    --normal-fontsize: 16px;
    --small-fontsize: 10px;
    --font-family: "Lexend", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    height: 100vh;
    background: linear-gradient(#130208, #261A3A);
    font-family:var(--font-family);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

/* ---------------------------navbar--------------------------- */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    margin: 24px 24px;
}

.logo{
    font-family: "Lexend Zetta";
    font-size: 32px;
    cursor: pointer;
    text-shadow: 0 0 10px #5454C5;
    transition: 0.5s;
}
.logo:hover{
    text-shadow: 0 0 30px #ffffff;
}

.nav_list{
    display: flex;
    list-style: none;
} 

.nav_link, .footer_list li a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
    position: relative;
    text-shadow: 0 0 10px #5454C5;
    transition: 0.5s;
}

.nav_link:hover, .footer_list li a:hover{
    text-shadow: 0 0 20px #ffffff;
}

.button{   
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
    padding: 8px 16px;
    margin: 0 10px;
    background:linear-gradient(to left, #130208, #5454C5);
    border-radius: 4px;
    filter: drop-shadow(0 0 10px #342056);
    transition:  0.5s;
}
.button_deco{   
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
    padding: 8px 16px;
    margin: 0 10px;
    background: #5454C5;
    border-radius: 4px;
    filter: drop-shadow(0 0 10px #342056);
    transition:  0.5s;
}
.button:hover, .button_deco:hover{
    filter: drop-shadow(0 0 30px #5454C5);
    padding: 8px 20px;;
}

/* ---------------------------body--------------------------- */

h1 {
    color: var(--font-color);
    font-size: var(--title-fontsize);
    font-weight: 300;
    text-align: center;
    text-shadow: 0 0 20px #5454C5;
    margin: 150px 0;
}

h2{
    padding: 10px;
    background: linear-gradient(to right, rgba(18, 2, 8, 0.7), #5454c5);
    font-weight: 300;
    border-radius: 8px 8px 0 0;
}

.card_container_container{
    display:flex;
    justify-content: center;
    filter: drop-shadow(0 0 10px #342056);
    margin: 100px;
}

.card_list{
    width: 80vw;
    background-color: var(--card-colour);
    border-radius: 8px;
}

.card_list p{
    padding: 10px 10px 5px 10px;
}

.card_list a{
    color: var(--font-color);
    text-decoration: none;

}

hr{
    color:var(--bg-colour);
}

/* ---------------------------footer--------------------------- */

footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0px;
    left: 0px;
    background-color: rgba(31, 17, 40, 1);
    filter: drop-shadow(0 0 15px rgba(84, 84, 197, 0.3));
}

.footer_list{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    align-items: center;
    list-style: none;
    position: relative;
    
}

.footer_list li a{
    padding: 60px 20px 20px 20px;
    text-shadow: 0 0 10px #5454C5;
}

.footer_social_list{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    text-shadow: 0 0 10px #5454C5;
}

.footer_social_list a{
    padding: 40px 10px;
    color: var(--font-color);
}

#copy{
    text-align: center;
}
