/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    --bg-colour: #130208;
    --card-colour: #5454c5;
    --font-color: #FFF3E6;
    --title-fontsize: 48px;
    --big-fontsize: 24px;
    --normal-fontsize: 16px;
    --small-fontsize: 10px;
    --font-family: "Lexend", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#130208, #261A3A);
    font-family:var(--font-family);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
}

/* #wrapper{
    min-height: 100%;
    position: relative; */
/* } */

#mainpage{
    height: 100vh;
}
/* ---------------------------navbar--------------------------- */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    margin: 24px 24px;
}

.logo{
    text-decoration: none;
    color: var(--font-color);
    font-family: "Lexend Zetta";
    font-size: 32px;
    cursor: pointer;
    text-shadow: 0 0 10px #5454C5;
    transition: 0.5s;
}
.logo:hover{
    text-shadow: 0 0 30px #ffffff;
}

.nav_list{
    display: flex;
    list-style: none;
} 

.nav_link, .footer_list li a{
    margin: 0 20px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 500;
    position: relative;
    text-shadow: 0 0 10px #5454C5;
    transition: 0.5s;
}

.nav_link:hover, .footer_list li a:hover{
    text-shadow: 0 0 20px #ffffff;
}

.button, input[type="submit"]{   
    text-decoration: none;
    border: none;
    color: var(--font-color);
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;
    background:linear-gradient(to left, #130208, #5454C5);
    border-radius: 4px;
    filter: drop-shadow(0 0 10px #342056);
    transition:  0.5s;
}

.button_delete{   
    text-decoration: none;
    border: none;
    color: var(--font-color);
    font-weight: 500;
    padding: 8px 16px;
    background:linear-gradient(to left, #130208, #6B0000);
    border-radius: 4px;
    filter: drop-shadow(0 0 10px #342056);
    transition:  0.5s;
}

.button_deco{   
    text-decoration: none;
    border: none;
    color: var(--font-color);
    font-weight: 500;
    padding: 8px 16px;
    background: #5454C5;
    border-radius: 4px;
    filter: drop-shadow(0 0 10px #342056);
    transition:  0.5s;
}

.button_nav{
    margin: 0 10px;
}

.button:hover, input[type="submit"]:hover, .button_deco:hover{
    filter: drop-shadow(0 0 30px #5454C5);
    padding: 8px 20px;;
}

.button_delete:hover{
    filter: drop-shadow(0 0 30px #a50000);
    padding: 8px 20px;;
}
.button_container_container{
    display: flex;
    justify-content: center;
}
.button_container{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

/* ---------------------------body--------------------------- */

h1 {
    color: var(--font-color);
    font-size: var(--title-fontsize);
    font-weight: 300;
    text-align: center;
    text-shadow: 0 0 20px #5454C5;
    margin: 150px 0;
}

h2{
    padding: 10px;
    background: linear-gradient(to right, rgba(18, 2, 8, 0.7), #5454c5);
    font-weight: 300;
    border-radius: 8px 8px 0 0;
}

.user_post{
    font-size: var(--normal-fontsize);
}

.card_container_container{
    display:flex;
    justify-content: center;
    filter: drop-shadow(0 0 10px #342056);
    margin: 20px;
}

.card_container_profil{
    display:flex;
    justify-content: center;
    filter: drop-shadow(0 0 10px #342056);
    margin: 100px;
    width: 80vw;
    background-color: var(--card-colour);
    border-radius: 8px;
}

.card_list{
    width: 80vw;
    background-color: var(--card-colour);
    border-radius: 8px;
}

.card_list a{
    color: var(--font-color);
    padding: 20px 5px;
    text-decoration: none;

}

.card_list_profil p{
    padding: 10px 10px 5px 10px;
}

.titles_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 10px;
}



hr{
    /* color: rgb(38, 26, 58); */
    /* border-top: 2px solid  #3a1a1a33; */
}

/* ---------------------------formulaires--------------------------- */
.form_display{
    display: flex;
    justify-content: center;
}

    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    input[type="text"], input[type=email], input[type=password], textarea{
    width: 80vw;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: var(--card-colour);
    font-family: "Lexend";
    font-weight: 500;
    color: var(--font-color);
    border: none;
    border-radius: 4px;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, textarea:focus{
    background-color: var(--font-color);
    color: #342056;
}

/* ---------------------------footer--------------------------- */

footer{
    width: 100%;
    bottom: 0px;
    margin-top: 200px;
    left: 0px;
    background-color: rgba(31, 17, 40, 1);
    filter: drop-shadow(0 0 15px rgba(84, 84, 197, 0.3));
}

.footer_list{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    align-items: center;
    list-style: none;
    position: relative;
    
}

.footer_list li a{
    padding: 60px 20px 20px 20px;
    text-shadow: 0 0 10px #5454C5;
}

.footer_social_list{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    text-shadow: 0 0 10px #5454C5;
}

.footer_social_list a{
    padding: 40px 10px;
    color: var(--font-color);
}

#copy{
    text-align: center;
}
